body {
  background-color: #f2b56b;
}

h1 {
  text-align: center;
  font-size: 36px;
}

p {
  text-align: center;
  font-size: 18px;
}
.croissant_photo img {
  max-width: 25%;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  margin-top: 25px;
}

footer a {
  color: #400d01;
  padding: 10px;
}
